.CoursesStartTime{
    height:385px;
    width:1250px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    background-color: #1b103d;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.thumbImg{
    padding-right:50px;
    border-right:2px solid white;
    display: grid;
    justify-content: space-around;
}
.thumbImg > img{
    width: 400px;
    height: 284px;
    border-radius: 10px;
}
.CoursesStartTime-text{
    padding-left:50px;
    color:rgb(255, 255, 255);
    font-family: 'Secular One', sans-serif;
}
.CoursesStartTime-text > h1{
    text-align: center;
}
.CoursesStartTime-text > h3{
    font-size: 25px;
    display:flex ;
}
.CoursesStartTime-text > h3 > img{
    width:25px;
    height:25px;
    padding:3px;
    border-radius: 5px;
    margin-right: 10px;
}
.icon-1-bg{
    background-image: linear-gradient(40deg, #1400ff, #01ffff);
}
.icon-2-bg{
    background-image: linear-gradient(40deg, #ffef00, #ff6001);
}
.icon-3-bg{
    background-image: linear-gradient(40deg, #ff002b, #ff019e);
}
.start-line{
    background-color: rgb(240, 234, 234);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    color:rgb(54, 54, 54);
    justify-content: center;
    align-items: center;
    display: flex;
    grid-gap: 10px;
    margin:0;
}

/* btn */
.CST-Course-SL-btn{
    text-decoration:none;
    height: 40px;
    width: 110px;
    background: linear-gradient(50deg, #000cc794, #a300c5, #ff006c);
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 50px;margin-top:0px;
    justify-content: center;
    align-items: center;
    display: flex;
    border:none;
    display: inline;
}
.CST-Course-SL-btn:hover{
    background: linear-gradient(50deg, #ff006c, #a300c5, #000cc794);
}




/*responsive*/

/* min-laptop */
@media only screen and (max-width: 1255px) {

.CoursesStartTime{
    display: flex;
    height: auto;
    width: auto;
    margin: 7.5vw;
}
.thumbImg{
padding-right: 0px;
    border: none;
}
.thumbImg > img{
    width: 100%;
    height: auto;
    padding: 20px;
}
.CoursesStartTime-text{
padding:20px;
}
.start-line{
    border-radius: 17px;
    background-color: white;
    display: block;
    text-align: center;
    font-size: 11px;
}
.CoursesStartTime-text > h3 {
    font-size: 16px;
}
}

/* tab */
@media only screen and (max-width: 992px) {

.CoursesStartTime{
display: block;
    height: auto;
    width: auto;
    margin: 7.5vw;
}
.thumbImg{
padding-right: 0px;
    border: none;
}
.thumbImg > img{
    width: 100%;
    height: auto;
    padding: 20px;
}
.CoursesStartTime-text{
padding:20px;
}
.start-line{
    border-radius: 17px;
    background-color: white;
    display: block;
    text-align: center;
    font-size: 11px;
}
.CoursesStartTime-text > h3 {
    font-size: 16px;
}
}

/* optional */
@media only screen and (max-width: 476px) {
    
    .thumbImg > img{
        width: 100%;
    }
}