@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Francois+One&display=swap');


/* home page */

.HomePage{
    background-image: url("../../../../images/Home-img/magical-programmer-home-page-1st-background.jpg");
    height:879px;
    background-position: top center;
    background-repeat:no-repeat;
    background-size: 3000px;
    padding-bottom: 3.4%;
    padding-top: 200px;
    padding-left: 90px;
    padding-right: 40px;
}
.banner{
    display:flex;
    max-width:1234px;
    margin:0px auto;
}


/* BANNER HEADER */
.banner-headline{
    font-family: 'Francois One', sans-serif;
    font-size: 40px;
    width: 400px;
    background: -webkit-linear-gradient(#000000, #550022, #002364);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 20px;
    margin: 0;
}
.SL-btn{
    height: 70px;
    width: 220px;
    text-align: center;
    border: none;
    background-color: white;
    color: rgb(36, 36, 36);
    font-size: 15px;
    border-radius: 10px;
    margin-top:25px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.SL-btn:hover{
    box-shadow:0px 18px 40px white;
}
.SL-BTN-D-H6{
font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 130%;
    margin-top: 24px;
    max-width: 280px;
    color: rgba(0, 0, 0, 0.7);
}
.startNowIcon{
font-size: 45px;
    background: linear-gradient(#000cc794, #a300c5, #ff006c);
    border-radius:100%;
    justify-content:center;
    align-items:center;
    padding:10px;
    color:white;
}

/* images */
.imgs-div{
    width:100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    float:right;
    margin-left:73px;
    margin-top: 30px;
    position:relative;
}

/* images shows */
.img1{
    width: 88%;
    height: 100%;
    background-color: rgba(23, 12, 61, 0.3);
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transform: skewX(-7deg);
    transition: 0.7s;

    position:relative;
}
.imgs-div:hover > .img1{
    width: 88%;
    height: 100%;
    background-color: rgba(23, 12, 61, 0.3);
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transform: skewX(0deg);
    transition: 0.7s;
}
.img2{
    width: 25%;
    top: -15%;
    left: -70px;
    height: 31%;
    position: absolute;
    background-image: radial-gradient(218.51% 281.09% at 100% 100%, rgba(253, 63, 51, 0.6) 0%, rgba(76, 0, 200, 0.6) 45.83%, rgba(76, 0, 200, 0.6) 100%);
    border-radius: 10px;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2);
    transform: skewX(-7deg);
    transition: 0.7s;
}
.imgs-div:hover > .img2{
    height: 31%;
    position: absolute;
    background-image: radial-gradient(218.51% 281.09% at 100% 100%, rgba(253, 63, 51, 0.6) 0%, rgba(76, 0, 200, 0.6) 45.83%, rgba(76, 0, 200, 0.6) 100%);
    border-radius: 10px;
    box-shadow: -1px -1px 2px rgb(255 255 255 / 20%);
    transition: 0.7s;
    transform: skewX(0deg);
    top: -6vw;
    left: -9vw;
}
.img3{
    width: 26%;
    height: 31%;
    top: -15%;
    left: 22%;
    position: absolute;
    background-image: linear-gradient(192.64deg, rgb(67, 22, 219) 12.72%, rgba(144, 118, 231, 0.87) 54.49%, rgba(153, 236, 255, 0.34) 100.01%);
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
    transition: 0.7s;
    transform: skewX(-7deg);
}
.imgs-div:hover > .img3{
    position: absolute;
    background-image: linear-gradient(192.64deg, rgb(67, 22, 219) 12.72%, rgba(144, 118, 231, 0.87) 54.49%, rgba(153, 236, 255, 0.34) 100.01%);
    border-radius: 10px;
    box-shadow: rgb(255 255 255 / 20%) 0px 0px 0px 0.5px inset;
    transition: 0.7s;
    transform: skewX(0deg);
    top: -6vw;
    left: 7vw;
}
.img4{
    width: 53%;
    height: 68%;
    top: 45%;
    left: 0%;
    position: absolute;
    background-color: rgba(23, 12, 61, 0.3);
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transform: skewX(-7deg);
    transition: 0.7s;
}
.imgs-div:hover > .img4{
    position: absolute;
    background-color: rgba(23, 12, 61, 0.3);
    box-shadow: -1px -1px 2px rgb(255 255 255 / 20%);
    border-radius: 10px;
    transition: 0.7s;
    transform: skewX(0deg);
    left: -5vw;
    top: 16vw;
}
.img5{
    width: 55%;
    height: 68%;
    top: 53%;
    left: 45%;
    position: absolute;
    background-color: rgba(23, 12, 61, 0.3);
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transform: skewX(-7deg);
    transition: 0.7s;
}
.imgs-div:hover > .img5{
    position: absolute;
    background-color: rgba(23, 12, 61, 0.3);
    box-shadow: -1px -1px 2px rgb(255 255 255 / 20%);
    border-radius: 10px;
    transition: 0.7s;
    transform: skewX(0deg);
    left: 25vw;
    top: 18vw;
}


/*responsive*/

/* tabe */

@media only screen and (max-width: 1088px) {
.banner{
    display:block;
    max-width:1234px;
    margin:0px auto;
}



/* images */
.imgs-div{
    top: 73px;
    margin: 0px auto;
}


/* images */
.imgs-div{
    width:90%;
    justify-content: center;
    align-items: center;
    height: 100%;
    float:right;
    margin: 30% auto;
    margin-top: 30px;
    position:relative;
}

/* images shows */
.img1{
    width: 76%;
    height: 100%;
    background-color: rgba(23, 12, 61, 0.3);
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2);
    border-radius: 2%;
    transform: skewX(0deg);
    transition: 0.7s;

    position:relative;
}
.imgs-div:hover > .img1{
    width: 76%;
    height: 100%;
    background-color: rgba(23, 12, 61, 0.3);
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2);
    border-radius: 2%;
    transform: skewX(0deg);
    transition: 0.7s;
}
.img2{
    width: auto;
    top: -15%;
    left: -70px;
    height: 31%;
    position: absolute;
    background-image: radial-gradient(218.51% 281.09% at 100% 100%, rgba(253, 63, 51, 0.6) 0%, rgba(76, 0, 200, 0.6) 45.83%, rgba(76, 0, 200, 0.6) 100%);
    border-radius: 8%;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2);
    transform: skewX(0deg);
    transition: 0.7s;
}
.imgs-div:hover > .img2{
    width: auto;
    left: -70px;
    top:-15%;
    height: 31%;
    position: absolute;
    background-image: radial-gradient(218.51% 281.09% at 100% 100%, rgba(253, 63, 51, 0.6) 0%, rgba(76, 0, 200, 0.6) 45.83%, rgba(76, 0, 200, 0.6) 100%);
    border-radius: 8%;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2);
    transition: 0.7s;
    transform: skewX(0deg);
}
.img3{
    width: auto;
    height: 31%;
    top: -15%;
    left: 22%;
    position: absolute;
    background-image: linear-gradient(192.64deg, rgb(67, 22, 219) 12.72%, rgba(144, 118, 231, 0.87) 54.49%, rgba(153, 236, 255, 0.34) 100.01%);
    border-radius: 8%;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
    transition: 0.7s;
    transform: skewX(0deg);
}
.imgs-div:hover > .img3{
    width: auto;
    top: -15%;
    left: 22%;
    position: absolute;
    background-image: linear-gradient(192.64deg, rgb(67, 22, 219) 12.72%, rgba(144, 118, 231, 0.87) 54.49%, rgba(153, 236, 255, 0.34) 100.01%);
    border-radius: 8%;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
    transition: 0.7s;
    transform: skewX(0deg);
}
.img4{
    width: auto;
    height: 68%;
    top: 45%;
    left: 0%;
    position: absolute;
    background-color: rgba(23, 12, 61, 0.3);
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2);
    border-radius: 3%;
    transform: skewX(0deg);
    transition: 0.7s;
}
.imgs-div:hover > .img4{
    width: auto;
    top: 45%;
    left: 0%;
    position: absolute;
    background-color: rgba(23, 12, 61, 0.3);
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2);
    border-radius: 3%;
    transition: 0.7s;
    transform: skewX(0deg);
}
.img5{
    width: auto;
    height: 68%;
    top: 53%;
    left: 45%;
    position: absolute;
    background-color: rgba(23, 12, 61, 0.3);
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2);
    border-radius: 3%;
    transform: skewX(0deg);
    transition: 0.7s;
}
.imgs-div:hover > .img5{
    width: auto;
    top: 53%;
    left: 45%;
    position: absolute;
    background-color: rgba(23, 12, 61, 0.3);
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2);
    border-radius: 3%;
    transition: 0.7s;
    transform: skewX(0deg);
}
}


/* mobile */

@media only screen and (max-width: 688px) {
.HomePage{
    padding-left: 3.6%;
    padding-top: 129px;
}
.banner{
    display:block;
    max-width:1234px;
    margin:0px auto;
}

/* BANNER HEADER */
.banner-headline{
    width: 100%;
}

/* images */
.imgs-div{
    width:82%;
}

/* images shows */

.img2{
    left: -20px;
}
.imgs-div:hover > .img2{
    left: -20px;
}

.img3{
    left: 60px;
}
.imgs-div:hover > .img3{
    left: 60px;
}

}

/* optional */
@media only screen and (max-width: 1324px) {
    .banner{
        max-width:93%;
    }
    }