.CoursesInfoCards{
    margin-top:100px;
    margin-bottom:100px;
    justify-content: center;
    align-items: center;
    display:grid;
}
.card-respon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.btn-group{
    width:427px;
    background-image: linear-gradient(rgb(147, 155, 160), rgb(209, 216, 228));
    border-radius: 50px;
    padding:4px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.btn-group > button{
    background-color: rgba(182, 182, 182, 0);
    border-radius: 50px;
    border:none;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    color:white;
    font-size: 83%;
}
.btn-group > button:focus{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border:none;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    color:black;
}

/* card display */
#card1{
    display:block;
}
#card2{
    display:none;
}
#card3{
    display:none;
}

/* cards */

/* card1 */
.items-cards{
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    background-image:linear-gradient(209.21deg, rgb(16, 114, 204) 13.57%, rgb(89, 0, 159) 98.38%);
    width: 250px;
    height: 360px;
    border-radius:20px;
    padding:20px;
}

.cicCard1{
    background-image:linear-gradient(209.21deg, rgb(111, 78, 222) 13.57%, rgb(130, 210, 255) 98.38%);
}
.cicCard2{
    background-image:linear-gradient(209.21deg, rgb(225, 72, 133) 13.57%, rgb(241, 67, 102) 98.38%);
}
.cicCard3{
    background-image:linear-gradient(209.21deg, rgb(4, 20, 104) 13.57%, rgb(73, 18, 229) 98.38%);
}
.cicCard4{
    background-image:linear-gradient(209.21deg, rgb(179, 19, 49) 13.57%, rgb(209, 91, 88) 98.38%);
}
.cicCard5{
    background-image:linear-gradient(209.21deg, rgb(94, 44, 141) 13.57%, rgb(211, 49, 137) 98.38%);
}
.cicCard6{
    background-image:linear-gradient(209.21deg, rgb(89, 0, 159) 13.57%, rgb(16, 114, 204) 98.38%);
}
.cicCard7{
    background-image:linear-gradient(209.21deg, rgb(211, 49, 137) 13.57%, rgb(94, 44, 141) 98.38%);
}
.cicCard8{
    background-image:linear-gradient(209.21deg, rgb(0, 6, 149) 13.57%, rgb(116, 69, 154) 98.38%);
}

.card1-img{
    width: 100%;
    height: 170px;
}
.items-cards-text{
    font-style: normal;
    font-size: 18px;
    line-height: 140%;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top:20px;
}
.items-cards-reating{
    font-size: 16px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top:20px;
}

/* card2 */
#card2{
    margin-top: 50px;
}
.card-2{
    display:flex !important;
    box-shadow: 2px 20px 20px rgb(208 208 210 / 74%);
    margin: auto;
    width: 93%;
    min-height: 141px;
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
}
.card-2-respon{
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    width: 95%;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.number-div{
    font-size: 80px;
    color:#bebbbbb5;
    background:white;
    display:inline;
    padding-left:20px;
    padding-right:20px;
}
.text-div{
    display:inline;
    margin: 0;
    padding-left:20px;
    padding-right:20px;
    justify-content: center;
    align-items: center;
    display: grid;
    font-size: 81%;
    text-align: center;
}

/* card3 */
.card-3{
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    width: 250px;
    min-height: 360px;
    border-radius:20px;
    padding:20px;
    text-align: center;
    margin-top:20px;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 50px #b0aeae26;
    font-family: 'Secular One';
}
.card3-img{
    width: 102px;
    height: 103px;
    border-radius: 50px;
    display: grid;
    background: linear-gradient(50deg, #ff006c, #a300c5, #000cc794);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 56px;
}
.CIC-KS-text{
    margin-top: 15px;
}

/* btn */
.CIC-Course-SL-btn{
    text-decoration:none;
    height: 40px;
    width: 110px;
    background: linear-gradient(50deg, #000cc794, #a300c5, #ff006c);
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 50px;
    margin-top:15px;
    justify-content: center;
    align-items: center;
    display: flex;
    border:none;
    display: inline;
}
.CIC-Course-SL-btn:hover{
    background: linear-gradient(50deg, #ff006c, #a300c5, #000cc794);
}




/*responsive*/

/* min-laptop */
@media only screen and (max-width: 1620px) {
    .card-respon{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/* card 2 min laptop others design */
@media only screen and (max-width: 1000px) {
    .card-2-respon{
        grid-template-columns: 1fr !important;
    }
    .card-2{
        display:block  !important;
        padding: 20px;
        margin-bottom: 50px !important;
    }
}

/* min-laptop */
@media only screen and (max-width: 992px) {
    .card-respon{
        grid-template-columns: 1fr 1fr;
    }
}

/* mobile */
@media only screen and (max-width: 688px) {

.btn-group {
    width: 93%;
    margin-left: 10px;
    margin-right: 10px;
}
.cards-div{
    width: auto;
    margin-bottom:9vw;
}
.btn-group{
    width: 93%;
    margin-left: 10px;
    margin-right: 10px;
}
.btn-group > button {
    font-size: 72%;
}
.card-respon{
    grid-template-columns: 1fr;
}
.card-2{
    width: 93%;
    margin: auto;
    border-radius: 23px;
    display: block;
}
.number-div{
    background: none;
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}
.text-div{
    font-size: 81%;
    text-align: center;
}

}

/* others */

/* 2nd cards others style */
@media only screen and (max-width: 1620px) {
    .card-2{
        width: 93%;
        margin: auto;
        border-radius: 23px;
        display: block;
    }
    .number-div{
        background: none;
        display: grid;
        justify-content: center;
        align-items: center;
        padding-bottom: 0px;
    }
    .text-div{
        font-size: 81%;
        text-align: center;
    }
}