.CC-card{
    background-color:#211548;
    display:flex;
    height: auto;
    width: 1239px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}
.CC-card > div{
    padding: 24px;
    width: auto;
}
.CC-card > div > .h1-text,.h4-text{
    color:white;
}
.CC-card> div > .h1-text{
    font-family: system-ui;
    padding-bottom: 15px;
    color: white;
}
.cardImg{
    padding-right: 24px;
    border-right: 1px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
}
.cardImages{
    width: 400px;
}
.tips{
    display:flex;
    margin-top:55px;
    justify-content: center;
    align-items: center;
}
.tips > div{
    display: flex;
    background-color: white;
    margin-left: 1%;
    padding: 3px;
    border-radius: 50px;
    width: 155px;
    height: 52px;
    align-items: center;
}
.tips > div > img{
    width: 44px;
    height: 46px;
    background-color: black;
    border-radius: 50%;
    padding: 6px;
}
.tips-icon-1{
    background-image: linear-gradient(40deg, #1400ff, #01ffff);
}
.tips-icon-2{
    background-image: linear-gradient(40deg, #ffef00, #ff6001);
}
.tips-icon-3{
    background-image: linear-gradient(40deg, #bbff00, #27ff01);
}
.text{
    padding-left: 4px;
}


/*responsive*/

/* tab */
@media only screen and (max-width: 1088px) {
.CC-card{
    width: 97%;
    margin: auto;
}
.cardImg{
    display: grid;
    justify-content: center;
    align-items: center;
}
.cardImg {
    border-right: 1px solid white;
}
.h1-text{
color: #ffffff;
width: auto;
}
.h4-text{
color: #ffffff6e;
width: auto;
}
.tips{
display:block;
}
.tips > div {
margin:6px auto;
margin:10px 1px;
}
}



/* mobile */
@media only screen and (max-width: 688px) {
.CC-card{
    background-image: radial-gradient(#2b1083, #211548);
    display: block;
    border-radius: 10px;
    margin-left: 3.6%;
    margin-right: 3.6%;
}
.CC-card > div{
    width: 100%; 
}
.cardImg{
border-right:none;
width:100%;
}
.cardImages{
width:100%;
}
.h1-text{
color: #ffffff;
}
.h4-text{
color: #ffffff6e;
}
.tips{
display:block;
}
.tips > div {
margin:6px auto;
}
}

/* optional */
@media only screen and (max-width: 1324px) {
    .CC-card{
        max-width:93%;
    }
    }